<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640502513836-o37viqelekfr17d9ta9ao53hggpj1pd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640502513836-o37viqelekfr17d9ta9ao53hggpj1pd9</string>
	<key>API_KEY</key>
	<string>AIzaSyAmVEDdo2GCF2fmNCNKaaCDCPdrgd3bo00</string>
	<key>GCM_SENDER_ID</key>
	<string>640502513836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamza.Pill-Tracker</string>
	<key>PROJECT_ID</key>
	<string>pill-tracker-6cca7</string>
	<key>STORAGE_BUCKET</key>
	<string>pill-tracker-6cca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640502513836:ios:77b681d85d64c7f79bdf09</string>
</dict>
</plist>